@font-face {
    font-family: Dense;
    src: url('../fonts/Dense-Regular.otf')
}

body {
	font-family: Dense;
    background-color: #005266;
    padding-top: 65px;
}


.title {
	color: white;
	font-size: 400%;

}

.listofclasses {
	color: white;
}

.option {
	color: grey;
	font-size: 200%;
}

