{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<h3>Sorry, this page isn't available.</h3>

<script type = "text/javascript">
$(function(){

  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>

{% endblock %}