<!-- Page from which users can add their grades to a specific course -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<!-- {% load crispy_forms_tags %}
{% crispy form %}
 -->

<body>
    <h3 style = "color: orange"> Please enter at least three classes and three
    grades from last semester, up to a maximum of 6 classes. </h3>

    <h3> NOTE: The confidentiality of your grades is of utmost importance to us. We do not store grades associated with individual students - all of the data is aggregrated into our database immediately. </h3>

<!-- Form to enter grade for a course -->
    <form class = "option" id="data_form" method="post" action="/add_data/">

    {% csrf_token %}
      <br>
      <div class = "combinedForm">
        <div class = "form-group">
        <ul class = "list-inline">
          <li><input type="text" id = "autocompleteCourse2015" class="form-control" style="width: 250px" placeholder="Choose Course 1" {{ form.pastSemClass1 }} </li>
          <li> {{ form.grade1 }} </li>
          {% if form.pastSemClass1.errors%}
              <li class="alert alert-danger alert-custom" role ="alert">{{ form.pastSemClass1.errors }}</li>
          {% endif %}
          {% if form.grade1.errors%}
              <li class="alert alert-danger alert-custom">{{ form.grade1.errors }}</li>
          {% endif %}
        </ul>
        </div>

        <ul class = "list-inline">
          <li><input type="text" id = "autocompleteCourse2015" class="form-control" style="width: 250px" placeholder="Choose Course 2" {{ form.pastSemClass2 }} </li>
          <li> {{ form.grade2 }} </li>
          {% if form.pastSemClass2.errors%}
              <li class="alert alert-danger alert-custom">{{ form.pastSemClass2.errors }}</li>
          {% endif %}
          {% if form.grade2.errors%}
              <li class="alert alert-danger alert-custom">{{ form.grade2.errors }}</li>
          {% endif %}
        </ul>

        <ul class = "list-inline">
          <li><input type="text" id = "autocompleteCourse2015" class="form-control" style="width: 250px" placeholder="Choose Course 3" {{ form.pastSemClass3 }} </li>
          <li> {{ form.grade3 }} </li>
          {% if form.pastSemClass3.errors%}
              <li class="alert alert-danger alert-custom">{{ form.pastSemClass3.errors }}</li>
          {% endif %}
          {% if form.grade3.errors %}
              <li class="alert alert-danger alert-custom">{{ form.grade3.errors }}</li>
          {% endif %}
        </ul>

        <ul class = "list-inline">
          <li><input type="text" id = "autocompleteCourse2015" class="form-control" style="width: 250px" placeholder="Choose Course 4" {{ form.pastSemClass4 }} </li>
          <li> {{ form.grade4 }} </li>
          {% if form.pastSemClass4.errors%}
              <li class="alert alert-danger alert-custom">{{ form.pastSemClass4.errors }}</li>
          {% endif %}
          {% if form.grade4.errors%}
              <li class="alert alert-danger alert-custom">{{ form.grade4.errors }}</li>
          {% endif %}
        </ul>


        <ul class = "list-inline">
          <li><input type="text" id = "autocompleteCourse2015" class="form-control" style="width: 250px" placeholder="Choose Course 5" {{ form.pastSemClass5 }} </li>
          <li> {{ form.grade5 }} </li>
          {% if form.pastSemClass5.errors%}
              <li class="alert alert-danger alert-custom">{{ form.pastSemClass5.errors }}</li>
          {% endif %}
          {% if form.grade5.errors%}
              <li class="alert alert-danger alert-custom">{{ form.grade5.errors }}</li>
          {% endif %}
        </ul>


        <ul class = "list-inline">
          <li><input type="text" id = "autocompleteCourse2015" class="form-control" style="width: 250px" placeholder="Choose Course 6" {{ form.pastSemClass6 }} </li>
          <li> {{ form.grade6 }} </li>
          {% if form.pastSemClass6.errors%}
              <li class="alert alert-danger alert-custom">{{ form.pastSemClass6.errors }}</li>
          {% endif %}
          {% if form.grade6.errors%}
              <li class="alert alert-danger alert-custom">{{ form.grade6.errors }}</li>
          {% endif %}
        </ul>
      </div>
      <br>
      <button type="submit" class="btn btn-search" style ="width: 75px" value="Add Data">Add Data </button>
    </form>




<!-- jQuery -->
<script type = "text/javascript">
$(function(){
  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCourses2015 | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('.form-control').autocomplete({
    lookup: allFields,
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>

<script type = "text/javascript">
$(function(){

  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
});
</script>

<script src="{% static 'curves/js/jquery.js' %}"></script>
{% include 'autocomplete_light/static.html' %}

</body>
{% endblock %}