<!DOCTYPE html>
{% load static %}
{% load mathfilters %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PrincetonCurveIt</title>

    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

<!-- Bootstrap core CSS -->
    <link href="{% static 'curves/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'curves/css/theme.css' %}" rel="stylesheet">

    <script src= "{% static 'curves/js/jquery.min.js' %}"></script>
    <script src= "{% static 'curves/js/jquery.autocomplete.min.js' %}"></script>
    <script src= "{% static 'curves/js/princeton-autocomplete.js' %}"></script>

    <script src= "{% static 'curves/js/highcharts.js' %}"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-custom" style="margin-top:-66px">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">CurveIt</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/compprof/Brian*W.*Kernighan/Paul*R.*Krugman/">Compare Profs</a></li>
              <li><a href="/compcourse/COS/333/ECO/100/">Compare Courses</a></li>
              <li><a href="/compdept/COS/ECO/">Compare Depts</a></li>
              <li><a href="/add_data/">Add Data</a></li>
              <li><a href="/logout/">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-center" action="/search/" method="get">
            <div class="form-group">
              <input type="text" id="autocomplete" style="width: 500px" placeholder="Search by Course Name, Number, Department, or Professor" class="form-control" name="q">
            </div>
            <button type="submit" class="btn btn-search" style ="width: 75px" value="Search">Search </button>
          </form>
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
      
    {% block content %}

    {% endblock %}

    {% block script %}

    {% endblock %}
      <footer>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'curves/js/bootstrap.js' %}"></script> 
    <script src= "{% static 'curves/js/jquery.autocomplete.js' %}"></script>
    
  </body>
</html>
