{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}

<div class="title-div">
  <h1 class="title"> Choose Departments to Compare </h1>
</div>

<form action="/compdept/" method="get" class="pure-form pure-form-stacked">
    <div class="form-group">
        <input type="text" id = "autocompleteDept" class="form-control" style="width: 30%" placeholder="Choose Department 1" name="q1">
    </div>

    <div class="form-group">
        <input type="text" id = "autocompleteDept" class="form-control" style="width: 30%" placeholder="Choose Department 2" name="q2">
    </div>

    <button type="submit" class="btn btn-search" style ="width: 100px" value="Compare Depts">Compare Departments</button>
</form>



<script type = "text/javascript">
$(function(){
  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allDeptJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('.form-control').autocomplete({
    lookup: allFields,
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>

<script type = "text/javascript">
$(function(){
  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>
{% endblock %}
