<!-- HTML template for displaying the aggregrate grade distribution for a department, as well as links to all the classes in that department -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<div class = "title-div">
<h1 class="title"> 
	<a href="/{{dept1}}/"> {{dept1ForPrint}}
	</a> vs. <a href="/{{dept2}}/"> {{ dept2ForPrint}}
	</a> </h1>
</div>
	  	{% block tabs %}
	  	{% endblock %}

		<!-- Generate (hidden) table from whichto reference data for chart -->
		<table class="thisTable1">
			{% for grade, number in dist1 %}
			<!-- Optional functionality: only show grades that make up >x% of grades; may be
			     useful for deciding whether to show PDF  -->
					<tr>
						<td class="_grade1" hidden>{{ grade }} </td>
						<td class="_numGrade1" hidden>{{ number }}</td>
					</tr>
			{% endfor %}
		</table>


		{% block table %}
		{% endblock %}
<!-- {% endblock %} 

{% block script %} -->
<script>
var Class1name = "";
var Class2name = "";
Class1name = "{{dept1}}";
Class2name = "{{dept2}}";
</script>
<script src = "{% static 'curves/js/comphighchartsscript.js' %}"></script>
<!--<script> var Class1name = '{{cdept1}}'</script>
<script> var Class2name = '{{cdept2}}'</script>-->

{% endblock %}

