{% extends 'curves/comparedept.html' %}
{% load mathfilters %}
{% load static %}
{% block top %}





{% endblock %}

{% block tabs %}

		<div id="container" style="width:100%; height:400px;"></div>

{% endblock %}

{% block table %}

<table class="thisTable2">
			{% for grade, number in dist2 %}
			<!-- Optional functionality: only show grades that make up >x% of grades; may be
			     useful for deciding whether to show PDF  -->
					<tr>
						<td class="_grade" hidden>{{ grade }}</td>
						<td class="_numGrade2" hidden>{{ number }}</td>
					</tr>
			{% endfor %}
		</table>

<script type = "text/javascript">
$(function(){

  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>
{% endblock %}
