{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}

<div class="title-div">
  <h1 class="title"> Choose Departments to Compare </h1>
</div>

<form class = "option" id="data_form" method="post" action="/choosedept/">

    {% csrf_token %}
      <div class = "combinedForm">
        <div class = "form-group">
        <ul class = "list-inline">
        <li><input type="text" id = "autocompleteCourse" class="form-control" style="width: 600px" placeholder="Choose Department 1" {{form.dept1}}  </li>
          {% if form.dept1.errors%}
          <!-- <div class="alert alert-danger alert-custom" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid email address
          </div> -->
              <li class="alert alert-danger alert-custom" role ="alert">{{ form.dept1.errors }}</li>
          {% endif %}
        </ul>
        <ul class = "list-inline">
        <li><input type="text" id = "autocompleteCourse" class="form-control" style="width: 600px" placeholder="Choose Department 2" {{form.dept2}}</li>
          {% if form.dept2.errors%}
          <!-- <div class="alert alert-danger alert-custom" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid email address
          </div> -->
              <li class="alert alert-danger alert-custom" role ="alert">{{ form.dept2.errors }}</li>
          {% endif %}
        </ul>
      </div>
      <button type="submit" class="btn btn-search" style ="width: 175px" value="Compare Profs">Compare Departments </button>
    </form>



<script type = "text/javascript">
$(function(){
  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allDeptJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('.form-control').autocomplete({
    lookup: allFields,
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>

<script type = "text/javascript">
$(function(){

  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>

{% endblock %}
