{% load mathfilters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CurveIt</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'curves/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'curves/css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'curves/css/typeaheadjs.css' %}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


     {% block content %}

    {% endblock %}


<!-- Autocomplete solution: code here with a for loop that contains three hidden lists
    for profs, dept, and courses (taken from context). Then, in the princeton-autocomplete,
    we parse through these and generate the appropriate objects to create lookup data. 
 -->
    <!-- Header -->
    <div class="intro-header">

            <div class="intro-message">
                <div class = "topContainer">
                    <h1>CurveIt</h1>
                    <br/>
                    <form action="/search/" method="get" class="pure-form pure-form-stacked">
                        <div class="form-group">
                            <input type="text" id = "autocomplete" class="form-control" style="margin-left:auto; margin-right:auto; width: 85%;" placeholder="Search by Course Name, Number, Department, or Professor" name="q">
    
                             <!-- <button type="submit" class="btn btn-search" style ="width: 50px" value="Search">Go</button> -->
                        </div>
                    </form>
                </div>


                
                <div class = "bottomContainer" style="width: 100%; position:relative;" >
                    <div style="width: 100%; height:100%; position: absolute; top:0; left:0"><img class = "logo" src="../../static/curves/img/Princeton-Logo.png" alt = "Hello"></div>

                    <div style="width:100%; position:absolute; top:0; left:0; margin-top: 60px; margin-left:5px" class="index-navbar" id = "footerIndex">
                         
                         <a href = "#" data-toggle = "modal" data-target="#aboutmodal" style="color:white; font-size:18px">About</a>
                          <div class = "modal fade aboutmodal modal-wide" tabindex="-1" role = "dialog" aria-labelledby="aboutmodal" aria-hidden = "true" id="aboutmodal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                  <h3 class="modal-title">About PrincetonCurveIt!</h3>
                                </div>
                                <div class="modal-body" style="font-size: 16pt">
                                  <p style = "color: black"><b>What is PrincetonCurveIt?</p></b>
                                  <p>Princeton CurveIt is a crowd-sourced distribution service that allows students to search and visualize the grade curves for each of the classes available to Princeton students each semester. You can search and compare by department, professor, classes, and semesters, or you can just see the top 10 classes with either the highest/lowest average grade.</p>

                                  <p style = "color: black"><b>How do we get the data?</p></b>
                                  <p>Every semester students must enter grades for at least 3 of the classes they took the past semester. It is completely anonymous and only the grade is saved and added to the total distribution for the class.</p>

                                  <p style = "color: black"><b>Who can see this?</p></b>
                                  <p>This site is protected via Princeton CAS, which is also used to protect Blackboard and most of Princeton’s TigerApps. Only current Princeton students who have submitted the grades for the previous semester can see the curves for all the classes.</p>

                                  <p style = "color: black"><b>Who made this and why?</p></b>
                                  <p>Princeton CurveIt was created by Suraj Bhat ‘16, Advait Chauhan ‘17, Garrett Gosse ‘16, Tyler "Project-Mom" Hoffman ‘16, and Sylvia Okafor ’16. We thought it would be a cool project for COS333: Advanced Programming Techniques, especially in light of the end of grade deflation.</p>
                                                
                                    </br>
                                    </h3></p>
                                </div>
                                <div class="modal-footer">
                              <button class="btn btn-search" data-toggle = "modal" data-target="#aboutmodal">Close</button>
                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->


                         
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;
                         &nbsp;


                         <a style="color:white; font-size:18px" href="mailto:achauhan@princeton.edu">Contact</a>
                    </div>
                </div>
            </div>
    </div>


    <!-- jQuery -->
    <script src="{% static 'curves/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'curves/js/bootstrap.min.js' %}"></script>

    <!-- Autocomplete.JS Javascript -->
    <script src= "{% static 'curves/js/jquery.autocomplete.js' %}"></script>
<!--     // <script src= "{% static 'curves/js/princeton-autocomplete.js' %}"></script> -->

     <script type="text/javascript">
     $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>

    <script type = "text/javascript">
    $(function(){

      //var profs = {{ allProfsJSON | safe }};
      var allFields = {{ allCombinedJSON | safe}};
      // setup autocomplete function pulling from currencies[] array
      $('#autocomplete').autocomplete({
        lookup: allFields,
        groupBy: 'cat',
        triggerSelectOnValidInput: false,
        lookupLimit: 8,
        minChars: 2
      });
      
    });
    </script>


      <script>
      $(document).ready(function(){
          $("a").hover(function(){
              $(this).css("color", "orange");
              },function(){
              $(this).css("color", "white");
          });
      });
      </script>

    <!-- Typahead.JS Javascript -->
<!--     // <script src= "{% static 'curves/js/typahead.bundle.min.js' %}"></script>
    // <script src= "{% static 'curves/js/prefetch.js' %}"></script> -->
</body>

</html>

