{% extends 'curves/base.html' %}
{% block content %}

{% if query != "BLANK" %}
<h3>  We're sorry. No match found for "{{ query }}". Try another search! </h3>
{% else %}
<h3>  Please enter a proper search term </h3>
{% endif %}

<script type = "text/javascript">
$(function(){

  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
  
});
</script>
{% endblock %}