<!-- Page from which users can add their grades to a specific course -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}

<title>Curves</title>

<body>
        <h1>Enter grades</h1>

        <form id="category_form" method="post" action="/rango/add_category/">

            {% csrf_token %}
            <ul>

            {% for field in form.visible_fields %}
            <li>

                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
              </li>
            {% endfor %}
            </ul>

            <input type="submit" name="submit" value="Create Category" />
        </form>
    </body>
{% endblock %}