<!-- HTML template for displaying the aggregrate grade distribution for a department, as well as links to all the classes in that department -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<div class="title-div">
<ul>
{% for c in finalCourseList %}
  <li>{{c}}</li>
{% endfor %}
  </ul>
<ul>
{% for c in finalDeptList %}
  <li>{{c}}</li>
{% endfor %}
  </ul>
<ul>
{% for c in finalProfList %}
  <li>{{c}}</li>
{% endfor %}
  </ul>
</div>
{% endblock %}