<!-- HTML template for displaying the aggregrate grade distribution for a department, as well as links to all the classes in that department -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<div class="row">
	<div class = "text-center">
  		<h1> Top Ten </h1>
	</div>
</div>

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-6  panel panel-good">
			<h2 class = "text-center">Highest Average Grade:</h2>
			<ol>
				<h3>{% for course, grade in hard %}				
			  		<li><a class = "a-link" href="/{{course.1}}">{{course.0}}: {{ grade }}</li>
					{% endfor %}</h3>
			</ol>
		</div>
		<div class = "col-md-6  panel panel-bad">
			<h2 class = "text-center">Lowest Average Grade:</h2>
			<ol>
				<h3>{% for course, grade in easy %}
  					<li><a class = "a-link" href="/{{course.1}}">{{course.0}}: {{ grade }}</li>
				{% endfor %}</h3>
			</ol>
		</div>
	</div>
</div>
{% endblock %}