<!-- HTML template for displaying the aggregrate grade distribution for a department, as well as links to all the classes in that department -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<div class="row">
	<div class = "text-center">
  		<h1> Top Ten* </h1>
	</div>
</div>

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-6  panel panel-good">
			<h2 class = "text-center">Highest Average Grade:</h2>
			<ol>
				<h4>{% for course, grade in hard %}				
			  		<li><a class = "a-link a-link-black" href="/{{course.1}}">{{course.0}}</a>: {{ grade }}</li> </br>
					{% endfor %}</h4>
			</ol>
		</div>
		<div class = "col-md-6  panel panel-bad">
			<h2 class = "text-center">Lowest Average Grade:</h2>
			<ol>
				<h4>{% for course, grade in easy %}
  					<li><a class = "a-link" href="/{{course.1}}">{{course.0}}</a>: {{ grade }}</li> </br>
				{% endfor %}</h4>
			</ol>
		</div>
	</div>
	<div class = "row">
		<h3>*Note: All average grades are computed based on a standard GPA model (4.0 for A+/A, 3.7 for A-, 3.3 for B+, etc.) and do not take into account 'P' grades.</h3>
</div>

<script type = "text/javascript">
$(function(){
  //var profs = {{ allProfsJSON | safe }};
  var allFields = {{ allCombinedJSON | safe}};
  // setup autocomplete function pulling from currencies[] array
  $('#autocomplete').autocomplete({
    lookup: allFields,
    groupBy: 'cat',
    triggerSelectOnValidInput: false,
    lookupLimit: 8,
    minChars: 2
  });
});
</script>
{% endblock %}