<!-- Page from which users can add their grades to a specific course -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<title>Curves</title>

<body>
    <h1 class = "title">Add Data</h1>

<!-- Form to enter grade for a course -->
    <form class = "option" id="data_form" method="post" action="/curves/add_data/">

        {% csrf_token %}
        {% for field in form.visible_fields %}
            <ol>
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            </ol>
        {% endfor %}

       <input type="submit" name="submit" value="Add Data"/>
           </form>
{% endblock %}